<h1>Butterfly Catcher</h1>
<% if @game.has_attribute?(:_id)  %>
<h2><%= 'Catch Butterflies!'%></h2>
<% else %>
<button>Start Game</button>
<% end %>
<canvas id='gameBoard' ></canvas>
<script type="text/javascript">
  $( document ).ready(function() {
    // $('#gameID').append('Game Id: <%= @game.id.to_s %>');
    // $('#highScore').append('High Score: <%= @game.highScore %> ')
    // $('#butterflyIds').append('<%= @butterflies %>')
  })
</script>